/**
 * Orange variable overrides
 **/

// Accent
$accent: #df3b00;

// Complementary
$complementary: #f04000;
$complementary-color: const(white);

// Buttons
$btn-color-inverse: const(white);
@import '~@nativescript/theme/scss/core/colors/index';
@import '~@nativescript/theme/scss/index';